DebugConfig/

Hardware/*

!Hardware/OLED.c
!Hardware/OLED.h
!Hardware/OLED_Data.c
!Hardware/OLED_Data.h
!Hardware/Ticker.c
!Hardware/Ticker.h


Objects/

.idea/
cmake-build-*/
Listings/*

*.uvguix.*
new4.uvoptx
